.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .sansita-regular {
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansita-bold {
    font-family: "Sansita", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .dm-sans-custom {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
  }

  .hero {
    background-image: url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 91vh; /* Set the height of the hero section */
    color: white; 
    }

   .card-img-top {
    width: 100%;
    height: 200px; /* Set your desired height */
    object-fit: cover; /* Ensures the image covers the entire area without distortion */
    }

    .banner-section {
        background-color: #e0e0e0;
        padding: 50px 0;
    }
    .banner-text {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .banner-logo {
        max-width: 400px;
        height: auto;
    }
    .features-section {
        background-color: #f0f0f0;
        padding: 30px 0;
    }
    .feature-icon {
        font-size: 3rem;
        color: #2ecc71; /* Green color for the icons */
    }

    .testimoni-section {
        background-color: #f0f8f5; /* Light background */
        padding: 50px 0;
      }
      .testimoni-card {
        background-color: white;
        border-radius: 15px;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      }
      .testimoni-avatar {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-bottom: 15px;
      }
      .rating i {
        color: #2ecc71; /* Green star color */
      }
      .footer {
        background-color: #6c757d;
        color: white;
        padding: 20px 0;
        text-align: center;
      }
      .footer a {
        color: white;
        text-decoration: none;
        margin-right: 15px;
      }
      .footer a:hover {
        color: #2ecc71; /* Hover effect for social icons */
      }

      .location-section {
        text-align: center;
        padding: 20px;
      }
      .location-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
      }
      .map-container iframe {
            width: 100%;
            height: 300px;
            border: 0;
      }

  